.box {
    border: 1px solid #fe75a3;
    border-radius: 1.5rem;
    box-shadow: 10px 10px 10px 0 #f52c6f;
    display: grid;
    opacity: 4;
    text-align: center;
    width: fit-content;
}

@media screen and (min-width: 0) {
    .box {
        padding: 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    .box {
        padding: 4rem;
    }
}