section h3 {
    background-color: #fbeef3;
    text-align: center;
}

.A4 {
    width: 50vw;
}

.cv__title {
    margin-bottom: 0;
}

.icons-cv {
    color: #f94984;
    margin-left: 0;
}

.icons-link {
    font-size: 30px;
    margin: 1rem 0.5rem 1.5rem 0;
} 

.icon-linkedin, .icon-github {
    font-size: 32px; 
}

.experiences-list__nkey, .experiences-list__mastersense, .mastersense-level2__list, .mastersense-level1__list, .academic-education__list2 {
    padding: 1rem;
}

.experiences-list__nkey, .mastersense-level2__list, .mastersense-level1__list, .academic-education__list2 {
    list-style-type: "-  ";
}